{% extends "base.html" %}
{% comment %}

    Copyright 2014-2015 GoodCrypto
    Last modified: 2015-04-20

{% endcomment %}
{% load i18n %}

{% block titlevar %}Fingerprint of GoodCrypto Private Server Certificate{% endblock %}

{% block contentpane %}

<h1 class="headline">
    Fingerprint of GoodCrypto Private Server Certificate
</h1>

<div class="row">
    <div class="col-md-12">
    <p class="dropcap">
    In order to visit sites using TLS (i.e., https) through your GoodCrypto server, you must 
    import the GoodCrypto Private Server certificate into your browser.
    </p>

    <div class="row">
        <div class="col-md-12">
            <p>
            {% include 'web/snippets/fingerprint_description.html' %}
            </p>
        </div>
    </div>

    <div class="row">&nbsp;</div>
        
    {% include 'web/snippets/fingerprint.html' %}
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
        <form method="POST" action="/web/"  name="show_fingerprint">{% csrf_token %}
        {% csrf_token %}
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2">
                    <input 
                        type="submit" 
                        class="btn btn-primary btn-large" 
                        value="{% trans 'Get certificate' %}"
                        name="action" 
                        alt="{% trans 'Get certificate' %}" 
                        title="{% trans 'Import the certificate into your browser.' %}"/>
                </div> 
            
                <div class="col-md-2">
                    <input
                        type="submit"
                        class="btn btn-primary btn-large"
                        value="{% trans 'How to import certificate' %}"
                        name="action"
                        alt="{% trans 'How to import certificate' %}"
                        title="{% trans 'Show how to import the GoodCrypto private server certificate into your browser.' %}"/>
                </div>
            </div>
        </form>
</div>
{% endblock contentpane %}

