{% comment %}

    Copyright 2014 GoodCrypto
    Last modified: 2014-01-16

{% endcomment %}

<p class="dropcap">Safari</p>
<ol>
    <li>Navigate to any site that uses SSL (i.e., https).</li>
    <li>Safari will pop up a window that says, "Safari can't verify the identity of the website "???".</li>
    <li>Click the <strong>Show Certificate</strong> button.</li>
    <li>Verify the information is for ???</li>
    <li>Add a check mark in the <strong>Always trust "???" when connecting to "???"</strong> box.</li>
</ol>

