{% comment %}

    Copyright 2014 GoodCrypto
    Last modified: 2014-01-16

{% endcomment %}

<p class="dropcap">Chrome</p>
<ol>
    <li>Click on the <strong>wrench icon</strong>, select <strong>Options</strong>, and select <strong>Under the Hood</strong></li>
    <li>Scroll down to <strong>Security</strong> section and click on the <strong>Manage certificates</strong> button.</li>
    <li>Click on the <strong>Import</strong> button and use the Certificate import wizard to import a certificate.</li>
    <li>Click <strong>Next</strong>, use the <strong>Browse</strong> button to locate the file that you saved in Step 1 of these instructions, and <strong>hightlight</strong> the filename.</li>
    <li>Click <strong>Next</strong> to continue with Certificate Import Wizard.</li>
    <li>Select the <strong>Trusted Root Certification Authorities</strong> store.</li>
    <li>Click the <strong>Finish</strong> button to complete the process.</li>
    <li>Close all the windows and dialog boxes until you have returned to your main browser window.</li>
</ol>

