{% comment %}

    Copyright 2014 GoodCrypto
    Last modified: 2014-01-16

{% endcomment %}

<p class="dropcap">Internet Explorer</p>
<ol>
    <li>Navigate to any site that uses SSL (i.e., https).</li>
    <li>IE will display a warning that, "There is a problem with this web site's security certificate."</li>
    <li>Click the, <strong>Continue to this website (not recommended)</strong> link.</li>
    <li>Once the page has loaded, look to the right of the address bar. A red/pink button, labeled <strong>Certificate Error,</strong> should be visible. Click that button.</li>
    <li>A pop-up, titled <strong>Untrusted Certificate</strong>, will appear. Click the <strong>View certificates</strong> link at the bottom of the pop-up.
    <li>Another pop-up, titled <strong>Certificate</strong>, will appear.</li>
    <li>Click the <strong>Install Certificate…</strong> button.</li>
    <li>The <strong>Certificate Import Wizard</strong> will be started. Click the <strong>Next</strong> button.</li>
    <li>For XP: Leave <strong>Automatically select the certificate…</strong> option selected, and click the <strong>Next</strong> button.</li>
    <li>For Vista/Windows7/Windows8:
        <ul>
            <li>Choose <strong>Place all certificates in the following store</strong> option, and click the <strong>Browse</strong> button.
            <li>Choose the <strong>Trusted Root Certification Authorities</strong> store and click <strong>OK</strong>.</li>
            <li>Click the <strong>Next</strong> button.
        </ul>
    </li>
    <li>This should display the <strong>Completing the Certificate Import Wizard</strong> dialog. Click the <strong>Finish</strong> button.
</ol>

